.table_column {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.column_heading {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 40px;
}

.elements_wrapper {
  display: flex;
  flex-direction: row;
}
.elements {
  display: flex;
  height: 210px;
  margin-right: 20px;
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--main-color);
}

.line {
  left: -10px;
  width: 2px;
  height: 210px;
  background-color: var(--main-color);
  position: relative;
}

@media (max-width: 1430px) {
  .column_heading {
    font-size: 24px;
  }
  .line {
    height: 210px;
  }
}

@media (max-width: 640px) {
  .line {
    height: 240px;
  }
  .column_heading {
    font-size: 24px;
    text-align: center;
  }
}
