.header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

@media (max-width: 400px){
    .header{
        padding: 1rem 9%;
    }
}