.date_svg {
    margin-right: 10px;
}
.svg {
    width: 20px;
    height: 20px;
    transform: scaleY(1.3);
}

@media (max-width: 640px) {
    .date_svg {
        margin-right: 5px;
    }
    .svg {
        width: 15px;
        height: 15px;
    }
}